<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <spinner id="map-spinner" class="pull-right img-responsive" name="mapSpinner" img-src="static/img/spinner.gif"></spinner>
            Mi Pokédex shows you all the Pokémon around you at this exact time. You can use the search bar to inspect other areas.
            The timer on each Pokémon shows the time left to disappear.
        </div>
        <div class="">
            <a href="https://twitter.com/mipokedex" class="twitter-follow-button" data-show-count="false">Follow @mipokedex</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


            <div class="fb-like" data-href="https://www.facebook.com/MiPok%C3%A9dex-1703288816599077/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="alert alert-dismissible alert-danger hidden" id="alert_connection">
          
          <strong>Oh sorry!</strong> Pokemon Go servers are down. We cannot show information. Try again later.
        </div>
        <div class="panel panel-primary">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds" options="map.options" control='map.control' draggable="true">
                <ui-gmap-markers models="pokemonMarkers" coords="'self'" icon="'icon'" options="'options'" idkey="'encounter_id'">
                    <ui-gmap-windows show="name">
                        <div ng-non-bindable>{{name}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
                <ui-gmap-search-box template="searchbox.template" options="searchbox.options" events="searchbox.events"></ui-gmap-search-box>
            </ui-gmap-google-map>
        </div>
        <a ng-click='getLocation()' >Show your location</a>
    </div>
</div>