<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="MiPokedexApp">
<head>
    <title update-title>MiPokédex | Find all the Pokemon near you!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- <link rel="shortcut icon" href="/static/img/favicon.gif"/> -->


    <meta property="og:url" content="https://www.mipokedex.com"/>
    <meta property="og:title" content="MiPokédex | Find all the Pokemon near you!"/>
    <meta property="og:description" content="Mi Pokédex shows you all the Pokémon around you at this exact time."/>
    <meta property="og:image"
          content="https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/13775975_1703293183265307_5500424369683940708_n.png?oh=70bb27a629c81144827b8cc13dda8f21&oe=582E6D2F"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@mipokedex"/>
    <meta name="twitter:title" content="MiPokédex | Find all the Pokemon near you!"/>
    <meta name="twitter:description" content="Mi Pokédex shows you all the Pokémon around you at this exact time."/>
    <meta name="twitter:image"
          content="https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/13775975_1703293183265307_5500424369683940708_n.png?oh=70bb27a629c81144827b8cc13dda8f21&oe=582E6D2F"/>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet"/>

    <link href="/static/css/style.css" rel="stylesheet"/>


    <script src="/static/components/angular/angular.min.js"></script>
    <script src="/static/components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src='/static/components/lodash/dist/lodash.min.js'></script>
    <script src='/static/components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='/static/components/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src='/static/components/angular-spinners/dist/angular-spinners.min.js'></script>


    <script>
     var MAPS_API_KEY = "{{ maps_api }}";
     
    </script>

    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/directives.js"></script>
    <script src="/static/js/controllers/MapController.js"></script>
    <script src="/static/js/controllers/ContactController.js"></script>
    <script src="/static/js/ads.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81341929-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>


</head>
<body>
    {{ maps_api }}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=345715625513911";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid" id="main">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img id="logo" class="img-responsive" src="/static/img/logo.png" alt="MiPokedex Logo"/>
            </a>

        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li style="    margin-right: 40px;
    margin-top: 8px;"><a ui-sref="contact">Contact</a></li>

            </ul>

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            <ui-view></ui-view>
        </div>
        <div class="col-md-2" style="max-height: 450px;">
            <div class="hidden" id="no_blocker">
                <p>We noticed that you are using Ad Block :)<br>
                    We understand that usually ads are annoying, that's why we don't care. But please, share MiPokédex
                    with your friends!</p>
                <br>
                <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br>
                <div class="fb-share-button" data-href="https://www.mipokedex.com" data-layout="button"
                     data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank"
                                                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mipokedex.com%2F&amp;src=sdkpreparse">Share</a>
                </div>
            </div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Pokedex-right -->
            <ins class="adsbygoogle"
                 style="display:block; max-height: 300px;"
                 data-ad-client="ca-pub-0717265133828882"
                 data-ad-slot="5703590436"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="col-md-10">
            <!-- Begin MailChimp Signup Form -->
            <h3>Do you wanna receive an email when our iOS and Android Apps are ready?</h3>
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                    width: 100%;
                }

                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="//lapokedex.us13.list-manage.com/subscribe/post?u=e3f285948f440f7ab04a01329&amp;id=8234f28f37"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" style="text-align: left;" novalidate>
                    <div id="mc_embed_signup_scroll">

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                               placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                  name="b_e3f285948f440f7ab04a01329_8234f28f37"
                                                                                                  tabindex="-1"
                                                                                                  value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                  id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-10">

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0717265133828882"
                 data-ad-slot="4366458039"
                 data-ad-format="auto"></ins>
            <script>
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    (adsbygoogle = window.adsbygoogle || []).push({});
                }
            </script>
        </div>

    </div>


    <!--End mc_embed_signup-->
</div>
<script>
    if (window.canRunAds === undefined) {
        // adblocker detected, show fallback
        $('#no_blocker').removeClass('hidden');
    }
</script>

<footer>
    <div class="col-md-12 text-center">
        <p>© mipokedex.com 2016. All rights reserved.</p>
    </div>
</footer>
</body>
</html>